a {
  color: green;
  text-decoration: none;
}
.title{
  color: black;
}
h1 {
  font-size: 45px;
  text-align: center;
}
ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  background-color: yellow;
  border-width: 5px;
  border-color: blue;
  border-style: solid;
  text-align: center;
}
p{
  font-size: 30px;
}
  /* Smartphones */

  @media only screen
  and (max-width : 320px)
  {

  }

  /* Desktops */

  @media only screen
  and (min-width : 1201px)
  {

  }
