a {
  color: green;
  text-decoration: none;
}
.title{
  color: black;
}
h1 {
  font-size: 20px;
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  text-align: center;
  background-color: #F5F6CE;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}
p{
  font-size: 30px;
}
  /* Smartphones */

  @media only screen
  and (min-width : 320px)
  {
    h1{
      font-size:45px;
    }
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      list-style: none;
    }
    li{
      background-color: #F5F6CE;
      border-width: 5px;
      border-color: blue;
      border-style: solid;
    }
  }
